In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)

In [ ]:
# Convert Pickup and Dropoff Columns to Datetime

In [3]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [ ]:
#create_engine creates a connection to a PostgreSQL database.
#postgresql://: Specifies the database type.
#postgres:postgres: Username and password.
#localhost: The database is hosted locally.
#5432: Default PostgreSQL port.
#ny_taxi: The name of the target database.

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ny_taxi')

In [ ]:
#Generate the SQL Table Schema

In [6]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [7]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [ ]:
#Create an Empty Table

In [8]:
df = next(df_iter)

In [9]:
len(df)

100000

In [10]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [11]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.00
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.00
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.00
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.00
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-10-08 15:45:56,2019-10-08 15:54:45,N,1.0,95,95,1.0,0.85,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2.0,1.0,0.00
99996,2,2019-10-08 15:43:31,2019-10-08 15:50:11,N,1.0,74,41,1.0,0.53,6.0,0.00,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.00
99997,2,2019-10-08 15:57:26,2019-10-08 16:17:41,N,1.0,75,141,1.0,1.94,13.0,0.00,0.5,2.98,0.0,NaN,0.3,19.53,1.0,1.0,2.75
99998,2,2019-10-08 14:58:24,2019-10-08 15:03:40,N,1.0,33,33,1.0,0.89,6.0,0.00,0.5,1.36,0.0,NaN,0.3,8.16,1.0,1.0,0.00
99999,2,2019-10-08 15:10:20,2019-10-08 15:17:44,N,1.0,33,40,1.0,1.24,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2.0,1.0,0.00

In [12]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [ ]:
#Insert the First Chunk

In [13]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: total: 2.81 s
Wall time: 10.6 s

1000

In [14]:
from time import time

In [ ]:
#Insert Remaining Chunks in a Loop

In [15]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 11.046 second
inserted another chunk, took 11.707 second

C:\Users\zhaoy\AppData\Local\Temp\ipykernel_30756\1406748514.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 11.763 second
inserted another chunk, took 8.580 second

StopIteration:

In [16]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [17]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265