In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [10]:
df = pd.read_csv('yellow_tripdata_2024-01.csv', nrows = 100)

In [11]:
pd.to_datetime(df.tpep_pickup_datetime)

0    2024-01-01 00:57:55
1    2024-01-01 00:03:00
2    2024-01-01 00:17:06
3    2024-01-01 00:36:38
4    2024-01-01 00:46:51
             ...
95   2024-01-01 00:54:16
96   2024-01-01 00:13:58
97   2024-01-01 00:35:53
98   2024-01-01 00:50:28
99   2024-01-01 00:18:24
Name: tpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [13]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

In [14]:
df_iter = pd.read_csv('yellow_tripdata_2024-01.csv', iterator=True, chunksize=100000)

In [15]:
df_iter

In [16]:
df = next(df_iter)

In [17]:
len(df)

100000

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [21]:
df.head(n=1)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.0,0.0,1.0,22.7,2.5,0.0

In [22]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2024-01-02 13:34:18,2024-01-02 13:38:13,1.0,0.70,1.0,N,263,75,1,5.8,2.5,0.5,2.00,0.0,1.0,11.80,2.5,0.0
99996,1,2024-01-02 13:47:42,2024-01-02 13:59:26,1.0,1.70,1.0,N,236,238,1,11.4,2.5,0.5,4.60,0.0,1.0,20.00,2.5,0.0
99997,2,2024-01-02 13:23:51,2024-01-02 13:36:29,1.0,1.87,1.0,N,236,162,1,12.8,0.0,0.5,3.36,0.0,1.0,20.16,2.5,0.0
99998,2,2024-01-02 13:42:04,2024-01-02 13:48:39,1.0,1.58,1.0,N,229,263,2,9.3,0.0,0.5,0.00,0.0,1.0,13.30,2.5,0.0
99999,2,2024-01-02 13:54:12,2024-01-02 13:57:25,1.0,0.64,1.0,N,236,263,2,-5.8,0.0,-0.5,0.00,0.0,-1.0,-9.80,-2.5,0.0

In [30]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\zhaoy\anaconda3\lib\site-packages (24.2)
Collecting pip
  Downloading pip-24.3.1-py3-none-any.whl.metadata (3.7 kB)
Downloading pip-24.3.1-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 1.8/1.8 MB 12.5 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.2
    Uninstalling pip-24.2:
      Successfully uninstalled pip-24.2
Successfully installed pip-24.3.1
Note: you may need to restart the kernel to use updated packages.

In [31]:
pip install pandas sqlalchemy psycopg2

Requirement already satisfied: pandas in c:\users\zhaoy\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: sqlalchemy in c:\users\zhaoy\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: psycopg2 in c:\users\zhaoy\anaconda3\lib\site-packages (2.9.10)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\zhaoy\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\zhaoy\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\zhaoy\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\zhaoy\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\zhaoy\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\zhaoy\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\zhaoy\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [35]:
from sqlalchemy import create_engine

# Database connection details
db_url = "postgresql://postgres:postgres@localhost:5432/ny_taxi"
engine = create_engine(db_url)

In [37]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [38]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 4.47 s
Wall time: 12.6 s

1000

In [39]:
from time import time

In [41]:
while True:
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk..., took %.3f second' % (t_end-t_start))

inserted another chunk..., took 10.438 second
inserted another chunk..., took 10.070 second
inserted another chunk..., took 9.887 second
inserted another chunk..., took 10.175 second
inserted another chunk..., took 10.157 second
inserted another chunk..., took 10.825 second
inserted another chunk..., took 10.329 second
inserted another chunk..., took 10.144 second
inserted another chunk..., took 10.258 second
inserted another chunk..., took 10.749 second
inserted another chunk..., took 11.044 second
inserted another chunk..., took 10.301 second
inserted another chunk..., took 10.360 second
inserted another chunk..., took 10.103 second
inserted another chunk..., took 10.018 second
inserted another chunk..., took 9.687 second
inserted another chunk..., took 11.359 second
inserted another chunk..., took 9.660 second
inserted another chunk..., took 10.071 second
inserted another chunk..., took 10.313 second
inserted another chunk..., took 10.566 second
inserted another chunk..., took 12.135 second
inserted another chunk..., took 10.207 second
inserted another chunk..., took 11.182 second
inserted another chunk..., took 10.014 second
inserted another chunk..., took 10.418 second

C:\Users\zhaoy\AppData\Local\Temp\ipykernel_12172\3163925243.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 9.638 second
inserted another chunk..., took 6.382 second

StopIteration: